@model Product

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";

}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form asp-controller="Admin" asp-action="Save" asp-route-id="@Model.ProductId" method="post" >
                    <div class="form-group">
                        <label asp-for="ProductId" hidden></label>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                        <input asp-for="ProductId" class="form-control" type="hidden"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="custom-control-label">Produkt</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="custom-control-label">Opis</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="custom-control-label">Kategoria</label>
                        <span asp-validation-for="Category" class="text-danger"></span>
                        <input asp-for="Category" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="custom-control-label">Cena</label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <input asp-for="Price" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" >Zapisz</button>
                        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>




