@model Product

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";

}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form asp-action="Save" method="post" >
                    <div class="form-group">
                        <input asp-for="ProductId" class="form-control" type="hidden"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" >Produkt</label>
                        <div><span asp-validation-for="Name" class="text-danger"></span></div>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" >Opis</label>
                        <div><span asp-validation-for="Description" class="text-danger"></span></div>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" >Kategoria</label>
                        <div><span asp-validation-for="Category" class="text-danger"></span></div>
                        <input asp-for="Category" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" >Cena</label>
                        <div><span asp-validation-for="Price" class="text-danger"></span></div>
                        <input asp-for="Price" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" >Zapisz</button>
                        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>




