@model IEnumerable<string>

<div class="container mt-5 mb-5">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-12 col-sm-4">
                <div class="card">
                    <a class="btn btn-lg btn-outline-dark @(ViewBag.ActualCategory == @category.ToString() ? "active" : "" ) " asp-controller="Product" asp-action="List" asp-route-category="@category">@category</a>
                </div>
            </div>
        }
    </div>
</div>