<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportShop</title>
</head>
<body>
    <div>
        @await Component.InvokeAsync("CategoryList")

        @RenderBody()
    </div>
</body>
</html>
